<h1><%= t('invoice_mail.greetings') %> <%= @appointment.user.name %></h1>
<p>
  <%= t('invoice_mail.success_message') %>
  <strong>Dr. <%= @appointment.doctor.name %></strong> for
  <strong>
    <%= print_appointment_date(@appointment.date_time, display_format = 4) %>
  </strong>
</p>
<p><%= t('invoice_mail.total_cost') %> <strong><%= print_appointment_amount(@appointment) %></strong></p>
<p>
  <%= t('invoice_mail.get_or_cancel_invoice_message') %>
  <a href="<%= appointment_url(@appointment) %>" target="_blank" referrerpolicy="no-referrer"><%= appointment_url(@appointment) %></a>.
</p>
<p><%= t('invoice_mail.thanks_message') %></p>