<div id="<%= dom_id doctor %>" class="g-col-12 g-col-md-6 doctor-card bg-white">
  <div class="row mb-3">
    <div class="col-3">
      <%= image_tag doctor.image, class: 'doctor-image', size: '75' %>
    </div>
    <div class="col-9 d-flex flex-column justify-content-center">
      <p class="fw-bold mb-0">
        <%= doctor.name %>
      </p>
      <p class="text-secondary mb-0">
        <%= doctor.address %>
      </p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-7 d-flex flex-column justify-content-center">
      <p class="small mb-0"><span class="text-success"><%= t('next_available') %></span> -
        <%= @next_appointment[doctor.id].strftime(@next_appointment[doctor.id].today? ? "%I:%M %p" :"%b %d, %I:%M %p") %>
      </p>
    </div>
    <div class="col-5">
      <%= link_to t('book_visit'), new_appointment_path(doctor_id: doctor), class: "btn btn-primary" %>
    </div>
  </div>
</div>
