<div id="<%= dom_id appointment %>" class="g-col-12 g-col-md-6">
  <div class="bg-white rounded-3 shadow p-3 h-100">
    <div class="row mb-3 justify-content-start">
      <div class="col-3">
        <%= image_tag appointment.doctor.image, class: 'doctor-image', size: '75' %>
      </div>
      <div class="col-8 d-flex flex-column justify-content-center">
        <p class="fw-bold mb-0">
          <%= appointment.doctor.name %>
        </p>
        <p class="text-secondary mb-0">
          <%= appointment.doctor.address %>
        </p>
      </div>
    </div>
    <h6 class="col-12 mb-3 text-secondary"><%= t('appointment_card.subheading') %></h6>
    <div class="row mb-3 justify-content-center">
      <p class="col-7 my-0 d-flex flex-row gap-1 justify-content-start align-items-center fw-semibold border border-0 border-end">
        <%= image_tag 'calendar-2', size: '13' %>
        <%= print_appointment_date(appointment.date_time.to_date, display_format = 2) %>
      </p>
      <p class="col-5 my-0 d-flex flex-row gap-3 justify-content-end align-items-center fw-semibold">
        <%= image_tag 'clock', size: '13' %>
        <%= print_appointment_date(appointment.date_time, display_format = 3) %>
      </p>
    </div>
    <div class="row mb-3 p-3 gap-3 justify-content-start">
      <div class="col-12 p-0"><%= t('appointment_card.subheading') %></div>
      <%= link_to 'CSV',
                  appointment_path(appointment, format: :csv),
                  class: "col-3 btn btn-dark py-1 px-0",
                  target: '_blank',
                  download: "appointment #{appointment.id}" %>
      <%= link_to 'TXT',
                  appointment_path(appointment, format: :txt),
                  class: "col-3 btn btn-dark py-1 px-0",
                  target: '_blank',
                  download: "appointment #{appointment.id}" %>
      <%= link_to 'PDF',
                  appointment_path(appointment, format: :pdf),
                  class: "col-3 btn btn-dark py-1 px-0",
                  target: '_blank',
                  download: "appointment #{appointment.id}" %>
    </div>

    <div class="row mx-1 my-3 px-3 py-2 rounded-3 justify-content-between bg-light">
      <p class="col-6 m-0 text-start"><%= t('appointment_card.amount_paid') %></p>
      <p class="col-6 m-0 fw-bold text-primary text-end"><%= print_appointment_amount(appointment) %></p>
    </div>

    <%= generate_cancel_button(appointment) %>
  </div>
</div>
