<%= form.hidden_field :doctor_id, value: params[:doctor_id] %>

<section class="my-5">
  <h6 class="fw-semibold">
    <%= image_tag 'calendar-2.svg', class: 'mx-2' %> Select a date
  </h6>

  <div id="dateCarousel" class="carousel slide">
    <button class="carousel-control-prev" type="button" data-bs-target="#dateCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <div class="carousel-inner" role="tablist">
      <% @times.keys.each_slice(3).each_with_index do |date, i| %>
        <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
          <% date.each do |d| %>
            <div
              class="date-item w-100"
              data-bs-toggle="tab"
              data-bs-target="#nav-<%= d %>"
              type="button"
              role="tab">
                  <span class="d-block h5 text-center">
                    <%= 'Today, ' if d == Date.today %>
                    <%= 'Tomorrow, ' if d == Date.today + 1 %>
                    <%= d.strftime("%a, #{d.day.ordinalize}") %>
                  </span>
              <span class="d-block text-center text-secondary"><%= d.strftime("%b") %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#dateCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="my-5">
  <% @times.each do |date, slots| %>
    <div class="tab-content">
      <div id="nav-<%= date %>" class="tab-pane fade" role="tabpanel">
        <h6 class="fw-semibold">
          <%= image_tag 'clock.svg', class: 'mx-2' %> Select a time for <span class="text-primary"><%= date %></span>
        </h6>
        <div class="grid gap-2 my-5">
          <% slots.each do |time| %>
            <%= form.radio_button :date_time, time[:time], class: "btn-check" %>
            <%= form.label "date_time_#{time[:time].to_s.gsub(' ', '_').gsub(/[:+]/, '').downcase}",
                           time[:time].strftime("%I:%M %p"),
                           class: "g-col-6 g-col-sm-4 btn btn-outline-primary"
            %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
<!-- TODO: Add Validation -->
<section class="my-5 py-5">
  <small class="d-block m-auto text-center">
    Due to high demand, it is difficult to reschedule appointments. Please book your slot carefully!
  </small>
  <a class="mt-3 btn btn-lg btn-primary text-white w-100 p-3 rounded-3" data-action="click->appointment#showUserForm">
    Book Appointment
  </a>
</section>
