<%= form_with(model: @appointment) do |form| %>
  <% if @appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% @appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div data-appointment-target="appointmentForm" class="appointment-form mx-auto">
    <%= render partial: 'appointments/appointment_form', locals: { form: form } %>
  </div>
  <div data-appointment-target="userForm" class="user-form mx-auto">
    <%= render partial: 'appointments/user_form', locals: { form: form } %>
  </div>
<% end %>
