<%= form_with(model: @appointment, html: { "data-action": "submit->appointment#showLoader" }) do |form| %>
  <% if @appointment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(@appointment.errors.count, "error") %> <%= t('appointment_form.error_message') %></h4>

      <ul class="mb-0">
        <% @appointment.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-appointment-target="appointmentForm" class="appointment-form mx-auto">
    <%= render partial: 'appointments/appointment_form', locals: { form: form } %>
  </div>
  <div data-appointment-target="userForm" class="user-form mx-auto">
    <%= render partial: 'appointments/user_form', locals: { form: form } %>
  </div>
  <div data-appointment-target="paymentPage" class="payment-page mx-auto">
    <%= render partial: 'appointments/loader', locals: { form: form } %>
  </div>
<% end %>
